* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffaa0;
  background-size: 70px 70px;
  background-image: linear-gradient(90deg, #80808033 1px, transparent 0), linear-gradient(180deg, #80808033 1px, transparent 0);
}